@use "sass:map";
.section {
  padding-top: 4.8rem;
  padding-bottom: 6rem;
  &.section-banner {
    position: relative;
    padding-top: 0;
    padding-bottom: 6.8rem;
    .banner {
      .banner-content {
        width: 30%;
        position: absolute;
        top: 22.2rem;
        left: 24rem;
        color: map.get($color,"white");
        .banner-title {
          font-size: map.get($font-size,"xxxl");
          width: 100%;
          line-height: 1.5;
          font-style: normal;
          font-weight: bold;
          margin-bottom: map.get($font-size,"xl");
          .text-active {
            color: #FBB03B;
          }
        }
        .banner-link {
          display: flex;
          color: map.get($color,"white");
          font-weight: 700;
          font-size: map.get($font-size,"xl");
          line-height: 3.6rem;
          img {
            width: 3.6rem;
            height: 3.6rem;
            margin-right: 1rem;
          }
        }
      }
    }
    .banner::after {
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
      content: '';
      position: absolute;
      top: 0;
      left: 0; 
    }
    .banner-content {
      z-index: 10;
    }
  }
}
.section-collection {
  .card-list {
    .card-item {
      position: relative;
      &.onsale {
        .badge {
          top: 12.8rem;
          left: 4rem;
        }
      }
      .overlay {
        position: relative;
      }
      .overlay::after {
        position: absolute;
        z-index: 0;  
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0.5;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .card-title {
        position: absolute;
        top: 15.8rem;
        left: 4rem;
        color: map.get($color,"white");
        font-size: map.get($font-size,"xl");
        font-weight: 400;
        line-height: 3.6rem;
      }
      .btn-default {
        &.card-link {
          position: absolute;
          top: 23.8rem;
          left: 4rem;
        }
      }
    }
  }
}
.section-product {
  .wrap{
    position: relative;
  }
}
.section-title {
  font-style: normal;
  font-weight: 300;
  font-size: map.get($font-size,"xxl");
  line-height: 4.8rem;
  color: map.get($color,"black");
  margin-bottom: 4rem;
}
.section-benefit {
  background-color: map.get($color,"grey-bg-benefit");
  .benefit-title {
    font-size: 1.6rem;
  }
  .benefit-description {
    font-style: normal;
    font-weight: normal;
    font-size: map.get($font-size,"sm");
    line-height: 2.1;
    color: map.get($color,"grey-c");
  }
  .benefit-img{
    width: 3.6rem;
    height: 3.6rem;
    margin-right: 1.5rem;
  }
}
.section-subcribe {
  position: relative;
  padding: 0;
  .subcribe-img {
    vertical-align: bottom;
  }
  .wrap {
    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
    z-index: 99;
    .subcribe-left {
      width: 50%;
      font-size: map.get($font-size,"xl");
      line-height: 3.6rem;
      color: map.get($color,"white");
      font-weight: 400;
    }
    .form-input {
      border: none;
      padding: map.get($font-size,"sm") 6.4rem;
      border-radius: 6.1rem;
      background-color: map.get($color,"white");
      margin-right: 4rem;
    }
  }
}
.section-subcribe::after {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0; 
}

@media screen and (max-width: map.get($breakpoints,"small")) {
.section {
  padding-top: 2.4rem;
  padding-bottom: 2.8rem;
  &.section-banner {
    padding-bottom: 0;
    .banner {
      .banner-img{
        content: url("../../images/home-banner.png");
      }
      .banner-content {
        width: 70%;
        top: 27.1rem;
        left: 2.4rem;
        .banner-title {
          font-size: 4.8rem;
          line-height: 1.4;
          margin-bottom: 2.2rem;
        }
        .banner-link {
          font-size: 1.4rem;
        }
      }
    }
  }
}
.section-collection {
  .card-list {
    .card-item {
      &.onsale {
        .badge {
          top: 12.3rem;
          left: 1.6rem;
        }
      }
      &.col-6 {
        width: 100%;
      }
      &.col-3 {
        width: 50%;
      }
      .card-title {
        top: 14rem;
        left: 1.6rem;
        font-size: map.get($font-size,"sm");
        line-height: 2.1;
      }
      .btn-default {
        &.card-link {
          top: 17.8rem;
          left: 1.6rem;
        }
      }
    }
  }
}
.section-product {
  .wrap{
    .row {
      .col-3 {
        width: 50%;
        margin-bottom: 1.2rem;
      }
    }
  }
}
.section-title {
  font-size: 1.8rem;
  line-height: 2.7;
  margin-bottom: 1.6rem;
}
.section-benefit {
  .benefit-title {
    font-size: 1.2rem;
  }
  .row {
    flex-direction: column;
    .col-3 {
      width: 100%;
      margin-bottom: 1.6rem;
      .benefit-vertical {
        display: flex;
      }
      .benefit-description {
        font-size: 1rem;
        line-height: 1.5;
      }
      .benefit-img{
        width: 6.8rem;
        height: 6.8rem;
        margin-right: 1.6rem;
      }
    }
  }
}

  .section-subcribe {
    padding-top: 0;
    padding-bottom: 0;
    .subcribe-img {
      content: url("../../images/banner-subcriber-mb.png");
      width: 100%;
    }
    .wrap {
      flex-direction: column;
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
      text-align: left;
      z-index: 99;
      .subcribe-left {
        width: 100%;
        padding-right: 10rem;
        margin-top: 0.4rem;
        font-size: 1.4rem;
        line-height: 2;
      }
      .form-input {
        padding: 1.2rem 7.4rem;
        margin-bottom: 1.6rem;
      }
    }
  }
}
