* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.9rem;
  padding: 1.4rem 30rem;
  border-radius: 3.3rem;
  text-align: center;
  color: #333333;
}
.btn-default {
  padding: 1.4rem 1.8rem;
  background-color: #FFFFFF;
}
.btn-primary {
  border: none;
  padding: 1.4rem 3rem;
  background-color: #FBB03B;
}
.btn-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.btn-outline {
  border: 0.1rem solid #E5E5E5;
}
.badge {
  position: absolute;
  width: 6rem;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  text-align: center;
}
.badge-danger {
  color: #FFFFFF;
  background-color: #FF0000;
}
.header-content, .section-subcribe .wrap, .footer-wrap {
  display: flex;
}
.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}
.header-content {
  width: 100%;
  position: absolute;
  justify-content: space-between;
  height: 4.8rem;
  top: 4.8rem;
  left: 10%;
  z-index: 1;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
.col {
  padding: 0 1rem;
}
.col-1 {
  width: calc(100%/12);
}

.col-2 {
  width: calc(100%/12*2);
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: calc(100%/12*4);
}

.col-5 {
  width: calc(100%/12*5);
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: calc(100%/12*7);
}
.col-8 {
  width: calc(100%/12*8);
}
.col-9 {
  width: calc(100%/12*9);
}
.col-10 {
  width: calc(100%/12*10);
}
.col-11 {
  width: calc(100%/12*11);
}
.col-12 {
  width: 100%;
}
.nav-list .nav-item {
  display: inline-block;
  padding: 0 3rem;
}
.nav-list .nav-item .nav-link {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color:#FBB03B;
}
.options-list .options-item {
  display: inline-block;
  padding: 0 1rem;
}
.text-active {
  color: #FBB03B;
}
.section {
  padding-top: 4.8rem;
  padding-bottom: 6rem;
}
.section.section-banner {
  position: relative;
  padding-top: 0;
  padding-bottom: 6rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section.section-banner::before {
  content: "";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.section.section-banner .banner .banner-content {
  width: 30%;
  position: absolute;
  top: 22.2rem;
  left: 24rem;
  color: #FFFFFF;
}
.section.section-banner .banner .banner-content .banner-title {
  font-size: 7.2rem;
  width: 100%;
  line-height: 1.5;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 2.4rem;
}
.section.section-banner .banner .banner-content .banner-link {
  display: flex;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
}
.section.section-banner .banner .banner-content .banner-link img {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 1rem;
}
.benefit .banner-benefit {
  display: flex;
  position: absolute;
  width: 80%;
  border-top-right-radius: 10rem;
  background-color: #FFFFFF;
  padding: 3.4rem;
  bottom: 7%;
  padding-left: 15%;  
}
.benefit .banner-benefit .benefit-img, 
.section-benefit .benefit-img{
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 1.5rem;
}
.benefit .banner-benefit .benefit.benefit-horizontal {
  display: flex;
  flex-direction: row;
}
.benefit .banner-benefit .benefit-content .benefit-title {
  font-size: 1.4rem;
}
.section-collection .wrap .card-list .card-item {
  position: relative;
}
.section-collection .wrap .card-list .card-item .card-title {
  position: absolute;
  top: 16.8rem;
  left: 4rem;
  color:#FFFFFF;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.6rem;
}
.section-collection .wrap .card-list .card-item .btn-default.card-link {
  position: absolute;
  top: 25.8rem;
  left: 4rem;
}
.section-collection .wrap .card-list .card-item.onsale .badge {
  top: 12.8rem;
  left: 4rem;
}
.section-product .wrap {
  position: relative;
}
.product.onsale .badge {
  top: 3rem;
  left: 2.6rem;
}
.section-title {
  font-style: normal;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: #333333;
  margin-bottom: 4rem;
}
.product {
  position: relative;
}
.product .product-title {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #333333;
}
.product .product-price {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #333333;
}
.product .product-price-sale {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #FF0000;
}
.product .product-price.original {
  color: #CECECE;
  float: right;
}
.section-benefit {
  background-color: #F7F7F7;
}
.section-benefit .benefit-description {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #808080;
}
.section-benefit .benefit-title {
  font-size: 1.6rem;
}
.section-subcribe::before {
  background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
  opacity: 0.7;
}
.section-subcribe {
  position: relative;
  padding: 0;
}
.section-subcribe .subcribe-img {
  vertical-align: bottom;
}
.section-subcribe .wrap {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 12%;
  transform: translateY(-50%);
  z-index: 99;
}
.section-subcribe .wrap .subcribe-left {
  width: 50%;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #FFFFFF;
  font-weight: 400;
}
.section-subcribe .wrap .form-input {
  border: none;
  padding: 1.4rem 6.4rem;
  border-radius: 6.1rem;
  background-color: #FFFFFF;
  margin-right: 4rem;
}
footer {
  background-color: #FBB03B;
  line-height: 2.1rem;
  color: #FFFFFF;
}
.footer-wrap a {
  color: #FFFFFF;
}
.footer-wrap .footer-left, 
.footer-wrap .footer-right {
  padding: 4rem 0 5rem 0;
  font-size: 1.4rem;
}
.footer-wrap .footer-left {
  width: 45%;
  padding-left: 1rem;
}
.footer-wrap .footer-left .logo-footer{
  width: auto;
}
.footer-wrap .footer-left .social-list {
  display: flex;
}
.footer-wrap .footer-left .social-list .social-item {
  padding: 5.6rem 1rem 0 1rem;
}
.footer-wrap .footer-right {
  width: 55%;
  display: flex;
}
.footer-wrap .footer-right .footer-item {
  padding-right: 6.8rem;
}
.footer-wrap .footer-right .footer-item .footer-title {
  font-size: 1.6rem;
  padding-bottom: 1.8rem;
}
.design-by {
  padding: 2.4rem 0;
  border-top: 0.1rem solid #FFFFFF;
}
