* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-uppercase {
    text-transform: uppercase;
}
.btn {
    font-weight: bold;
    padding: 14px 16px;
    border-radius: 56px;
    text-align: center;
    color: #333333;
}
.btn-default {
    padding: 14px 18px;
    background-color: #FFFFFF;
}
.btn-primary {
    border: none;
    padding: 14px 26px;
    border-radius: 56px;
    background-color: #FBB03B;
}
.badge {
    width: 60px;
    padding: 6px 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #FF0000;
    color: #FFFFFF;
}
.header, .section-subcribe .container, .footer {
    display: flex;
}
.container {
    max-width: 1152px;
    margin: 0 auto;
}
.header.container {
    width: 100%;
    position: absolute;
    justify-content: space-between;
    height: 48px;
    top: 48px;
    left: 10%;
    z-index: 1;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.col {
    padding: 0 10px;
}
.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.3333333333%;
}
.col-8 {
    width: 66.6666666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333333333%;
}
.col-11 {
    width: 91.6666666667%;
}
.col-12 {
    width: 100%;
}
.nav-list .nav-item {
    display: inline-block;
    padding: 0 30px;
}
.nav-list .nav-item .nav-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color:#FBB03B;
}
.options-list .options-item {
    display: inline-block;
    padding: 0 10px;
}
.text-active {
    color: #FBB03B;
}
.section{
    padding-bottom: 60px;
}
.section.section-banner {
    position: relative;
    padding-top: 0px;
}
.banner .banner-content {
    width: 30%;
    position: absolute;
    top: 222px;
    left: 240px;
    color: #FFFFFF;
}
.banner-content .banner-title {
    font-size: 72px;
    width: 100%;
    line-height: 101.5%;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 24px;
}
.banner-link {
    display: flex;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.banner-link img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.section {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 60px;
}
.benefit-img {
    width: 36px;
    height: 36px;
    margin-right: 15px;
}
.banner-benefit {
    display: flex;
    position: absolute;
    width: 80%;
    border-top-right-radius: 100px;
    background-color: #FFFFFF;
    padding: 34px;
    bottom: 7%;
    padding-left: 15%;  
}
.benefit-horizontal {
    display: flex;
    flex-direction: row;
}
.card-item {
    position: relative;
}
.card-title {
    position: absolute;
    top: 168px;
    left: 40px;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}
.btn-default.card-link {
    position: absolute;
    top: 258px;
    left: 40px;
}
.section-product .container{
    position: relative;
}
.badge-sale {
    position: absolute;
    top: 128px;
    left: 40px;
}
.section-title {
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 40px;
}
.product {
    position: relative;
}
.badge-discount {
    position: absolute;
    top: 30px;
    left: 26px;
}
.product-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #333333;
}
.product-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #333333;
}
.product-price-sale {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FF0000;
}
.product-price.original {
    color: #CECECE;
    float: right;
}
.section-benefit {
    background-color: #F7F7F7;
}
.benefit-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #808080;
}
.btn-top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.btn-outline {
    border: 1px solid #E5E5E5;
}
.section-subcribe::before {
    background: linear-gradient(90deg, #000000 33.28%, rgba(0, 0, 0, 0) 94.05%);
    opacity: 0.7;
}
.section-subcribe {
    position: relative;
    padding: 0;
}
.subcribe-img {
    position: relative;
}
.section-subcribe .container {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 12%;
    transform: translateY(-50%);
    z-index: 99;
}
.subcribe-left {
    width: 50%;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    font-weight: 400;
}
.form-input {
    padding: 14px 64px;
    border-radius: 61px;
    background-color: #FFFFFF;
}
footer {
    background-color: #FBB03B;
    line-height: 21px;
    color: #FFFFFF;
}
.footer-left, .footer-right {
    padding: 40px 0 50px;
    font-size: 14px;
}
.logo-footer{
    width: auto;
}
.footer-left {
    width: 45%;
    padding-left: 10px;
}
.social-list {
    display: flex;
}
.social-item {
    padding: 56px 10px 0;
}
.footer-right {
    width: 55%;
    display: flex;
}
.footer-title {
    font-size: 16px;
    padding-bottom: 18px;
}
.footer-item {
    padding-right: 68px;
}
.social-link, .list-group-link {
    color: #FFFFFF;
}
.design-by {
    padding: 24px 0;
    border-top: 1px solid #FFFFFF;
}

