*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
ul li:first-child{
    padding-left: 0;
}
ul li:last-child{
    padding-right: 0;
}
.text-center{
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.discount{
    padding: 6px 10px;
    border-radius: 20px;
    width: 60px;
    color: #FFFFFF;
    text-align: center;
    background-color: #FF0000;
}
.btn{
    font-weight: bold;
    padding: 14px 16px;
    border-radius: 56px;
    text-align: center;
    color: #333333;
    border: 3px solid #E5E5E5;
}
.btn-default{
    padding: 14px 18px;
    background-color: #FFFFFF;
}
.btn-primary{
    border: none;
    padding: 14px 26px;
    border-radius: 56px;
    background-color: #FBB03B;
}
header, main, footer{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 1152px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.container .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.col-3{
    width: calc(100%/4);
}
.col-4{
    width: 25%;
}
.col-6{
    width: calc(100%/2);
    padding: 0 20px;
}
/* .card-image{
    width: 100%;
} */

header .container{
    justify-content: space-between;
    padding: 48px 0;
}
.nav-list .nav-item{
    display: inline-block;
    padding: 0 30px;
}
.nav-list .nav-item .nav-link{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color:#FBB03B;
}
.options-list .options-item{
    display: inline-block;
    padding: 0 10px;
}
.text-active{
    color: #FBB03B;
}

.banner .banner-image{
    position: absolute;
    top: 0;
    z-index: -1;
}

.banner .banner-content{
    position: absolute;
    top: 222px;
    left: 240px;
    color: #FFFFFF;
    font-weight: bold;
}
.banner .banner-content h2{
    font-size: 72px;
    line-height: 101.5%;
    margin-bottom: 24px;
}
/* 
.section .section-benefit{
    position: absolute;
    width: 80%;
    border-top-right-radius: 100px;
    bottom: -300px;
    left: 0;
    background-color: #FFFFFF;
}
.benefit-list{
    display: flex;
    padding: 38px 48px;
} */
.benefit-horizontal{
    
}
.section-subcribe{
    position: relative;
}
.subcribe-image{
    position: relative;
}
.section-subcribe .container {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 99;
}
.subcribe-left{
    width: 50%;
    color: #FFFFFF;
    font-weight: 400;
}
.form-input{
    padding: 14px 24px;
    border-radius: 61px;
    background-color: #FFFFFF;
}
footer{
    background-color: #FBB03B;
    line-height: 21px;
    color: #FFFFFF;
}
.footer-left, .footer-right{
    padding: 40px 0 50px;
    font-size: 14px;
}
.footer-left{
    width: 45%;
}
.social-list{
    display: flex;
}
.social-item{
    padding: 56px 10px 0;
}
.footer-right{
    width: 55%;
    display: flex;
}
.footer-title{
    font-size: 16px;
    padding-bottom: 18px;
}
.footer-item{
    padding-right: 68px;
}
.social-link, .list-group-link{
    color: #FFFFFF;
}
.design-by{
    padding: 24px 0;
    border-top: 1px solid #FFFFFF;
}

