footer{
    background-color: #FBB03B;
    line-height: 21px;
    color: #FFFFFF;
    &-left{
        padding: 40px 0 50px;
        font-size: 14px;
        width: 45%;
        padding-left: 10px;
    }
    &-right{
        padding: 40px 0 50px;
        font-size: 14px;
        width: 55%;
        display: flex;
        .footer-item{
            padding-right: 68px;
            .footer-title{
                font-size: 16px;
                padding-bottom: 18px;
            }
        }
    }
    .social-list{
        display: flex;
        .social-item{
            padding: 56px 10px 0;
        }
    }
    .social-link, .list-group-link{
        color: #FFFFFF;
    }
    .design-by{
        padding: 24px 0;
        border-top: 1px solid #FFFFFF;
    }
}