footer {
    background-color: $primary-color;
    line-height: 21px;
    color: $white;
    .footer-left, .footer-right {
        padding: 40px 0 50px;
        font-size: 14px;
    }
    .footer-left {
        width: 45%;
        padding-left: 10px;
        .logo-footer{
                width: auto;
            }
        .social-list {
            display: flex;
            .social-item {
                padding: 56px 10px 0;
                .social-link {
                    color: $white;
                }
            }
        }
    }
    .footer-right {
        width: 55%;
        display: flex;
        .footer-item {
            padding-right: 68px;
            .footer-title {
                font-size: 16px;
                padding-bottom: 18px;
            }
            .list-group-link {
                color: $white;
            }
        }
    }
    .design-by {
        padding: 24px 0;
        border-top: 1px solid $white;
    }
}