header{
    .container{
        position: absolute;
        justify-content: space-between;
        height: 48px;
        top: 48px;
        left: 10%;
        z-index: 1;
    }
}
.logo{
    width: 138px;
    height: 36px;
}
.nav-list{
    .nav-item{
        display: inline-block;
        padding: 0 30px;
        .nav-link{
            font-weight: 700;
            font-size: 18px;
            line-height: 27px;
            color:#FBB03B;
        }
    } 
}
.options-list{
    .options-item{
        display: inline-block;
        padding: 0 10px;
    }
}