.badge {
    width: 60px;
    padding: 6px 10px;
    border-radius: 20px;
    text-align: center;
    background-color: $red;
    color: $white;
    &-sale {
        position: absolute;
        top: 128px;
        left: 40px;
    }
    &-discount {
        position: absolute;
        top: 30px;
        left: 26px;
    }
}