.badge {
    position: absolute;
    width: 60px;
    padding: 6px 10px;
    border-radius: 20px;
    text-align: center;
    &-danger {
        color: $white;
        background-color: $red;
    }
}
