.btn {
    font-style: normal;
    font-weight: bold;
    font-size: $normal;
    line-height: 19px;
    padding: 14px 30px;
    border-radius: 33px;
    text-align: center;
    color: $black;
    &-default{
        padding: 14px 18px;
        background-color: $white;
    }
    &-primary {
        border: none;
        padding: 14px 30px;
        background-color: $primary-color;
    }
    &-top-right {
        position: absolute;
        top: 0;
        right: 0;
    }
    &-outline {
        border: 1px solid $grey-b;
    }
}
