.btn{
    font-weight: bold;
    padding: 14px 16px;
    border-radius: 56px;
    text-align: center;
    color: #333333;
}
.btn-top-right{
    position: absolute;
    top: 10%;
    right: 10%;
    border: 1px solid #333333;
}
.btn-default{
    padding: 14px 18px;
    background-color: #FFFFFF;
}
.btn-primary{
    border: none;
    padding: 14px 26px;
    border-radius: 56px;
    background-color: #FBB03B;
}